html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}
.rel{
    position: relative;}
.abs{position:absolute;}

.t0{top:0;}
.r0{right:0;}
.b0{bottom:0;}
.l0{left:0;}
.fl{float:left;}
.gray-bg{ background-color: #eaeaea;}
.bg-white{background-color: #fff;}
.bg-fa{background-color: #fafafa;}
.bg-f5{background-color: #f5f5f5;}
.bg-yellow{background-color: #ff9;}
.black{color:#000;}
.pad5{padding:5px;}
.pad10{padding:10px;}
.pad15{padding:15px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pb5{padding-bottom: 5px;}
.pl0{padding-left:0;}
.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pr15{padding-right:15px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pt0, .form-horizontal .pt0{padding-top:0;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.ml4{margin-left: 4px;}
.mr4{margin-right: 4px;}
.mr5{margin-right: 5px;}
.mlr5{margin: 0 5px 0 5px;}
.mb0{margin-bottom: 0;}
.mb2{margin-bottom: 2px;}
.mb4{margin-bottom: 4px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mt0{margin-top: 0;}
.mt2{margin-top:2px;}
.mt1{margin-top:1px;}
.mt3{margin-top:3px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt7{margin-top:7px;}
.mt15{margin-top: 15px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mtb10{margin:10px 0;}
.mtb15{margin:15px 0;}
.btn0{border:none;background-color: transparent;padding:0;}
.btn-long {padding-left: 100px;padding-right: 100px;}
.no_underline:hover, .no_underline:active, .no_underline:focus{text-decoration: none;}
.no_underline, .no_underline:active, .no_underline:focus{outline: none;}
.underline{text-decoration: underline;}
a.underline:hover{text-decoration: none;}
.rb{border-right: 1px solid #eaeaea; margin-right: 10px; padding-right: 10px;}
.blue{color:#055cb3;}
.black{color:#000;}
.green{color:#449d44;}
.green-success{color:#5cb85c;}
a.green-success:hover{color:#3f913f;}
.purple{color:#6a67ce;}
.yellow{color:#ffdd55;}
.orange{color:#ff8d41;}
a.orange:hover{color:#ff6e0e;}
.red{color:#ea7177;}
a.red:hover{color:#e9465b;}
.hiddeniraak{display: none;}
.box{border:1px solid #e6e6e6;}
.font11{font-size: 11px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font16{font-size: 16px;}
.font17, i.font17{font-size: 17px;}
.font18, i.font18{font-size: 18px;}
.font19, i.font19{font-size: 19px;}
.font20, i.font20{font-size: 20px;}
.gray5{color:rgb(153, 153, 153);}
.color5{color:#555;}
.color69{color:#696969;}
.bbpurple{border-bottom: 1px solid #6a67ce;}
.bbgray{border-bottom: 1px solid #e6e6e6;}
.btgray{border-top: 1px solid #e6e6e6;}
.bbnone{border-bottom: none;}
.dotted_link{border-bottom: 1px dotted;}
.dotted_link:hover{border-bottom: 1px solid transparent; cursor: pointer;}
.link{color:#0070cc;}
.link:hover{color:#004680; cursor: pointer;}
.vam {vertical-align: middle;}
.font-half{font-size: 50%;}
.iblock{display: inline-block;}
.block{display:block;}
.w100{width:100%;}
.hover_bg:hover{background-color: #f9f9f9;}
.ellip{overflow: hidden;  text-overflow: ellipsis;}

.nav > li > form > button.logout:focus {
    outline: none;
}
.mynavbar{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    box-shadow: 1px 1px 8px rgba(102, 102, 102, 0.3);
    margin-bottom: 0;
    z-index: 2;
}

a.navbar-brand {
    padding: 0;margin-left: 0 !important;
}
div.navbar-header{}

.navbar-nav > li > a {
    font-family: Roboto, sans-serif;
    font-size:16px;
    color:#000;
    transition: color 0.2s ease;
}
.slider{
    width: 100%;}
.slider img{width:100%;}
.navbar-nav > li.active a {
    color:#f8a411;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color:#f8a411;
}
.logo_wrap {
    background: #fff url("/images/logo_text_black.png") no-repeat scroll center center / 163px auto;
    height: 50px;
    width: 163px;
    transition: all 0.2s ease;
}
.img_title{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.img_title span{
    background-color: #000;
    color: #e0ba5b;
    display: block;
    font-family: roboto,sans-serif;
    margin-right: 15px;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.img_thumb_box{margin-bottom: 15px;
    padding-right: 0;}
h3{}
.highlight{}
.gold{color:#f8a411;}
a.no_underline, a.no_underline:hover{
    text-decoration: none;}
.false_link{cursor: pointer;
    display: inline;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;}

.photo_thumb{overflow: hidden;}
.photo_thumb:hover img {
    transform: scale(1.1);
}
.photo_thumb img {
    transition: all 0.2s linear 0s;
}
.admpanel_top {
    box-shadow: 0 0 9px gold;
    width: 100%;
}
.admpanel-title {
    background: #000 none repeat scroll 0 0;
    color: #ad8d38;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 8px;
}
.admpanel-title-wrapper {
    margin: 0 auto;
    width: 995px;
}
.openclose {
    background: #3b3b3b none repeat scroll 0 0;
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    margin-left: 4px;
    padding: 1px 3px;
}
.admpanel-content {
    background: #3b3b3b none repeat scroll 0 0;
    font-size: 0.9em;
    overflow: hidden;
    padding: 5px 0 7px;
}
.top_admpanel_wrapper {
    margin: 0 auto;
    width: 994px;
}
.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.operations div {
    color: #f9f9f9;
    float: left;    margin-right: 10px;
    padding: 2px 10px 5px;
}

.operations div.active {background-color: #000;
}
.operations a {
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 2px 0;
    font-size: 12px;
    text-decoration: none;
}
.operations a:hover {
    color: #ad8d38;
}
.panel-icon {
    color: #ad8d38;
    font-size: 12px;
    padding-right: 7px;
}
.clear {
    clear: both;
}
.item_title{
    font-size: 20px;
    font-weight: bold;
}
.item_price{}
.item_text{}
.img_pack_box{margin-bottom: 15px;
    padding-right: 0;}
.img_pack_title{ min-height: 89px;}
.img_pack_text{font-size: 13px;}
.img_pack_wrap{
    background-color: #e9e9e9;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 0 0.176471em 0.176471em;}
.img_pack_wrap:hover{background-color: #f1f1f1;}
.bs-docs-sidebar .nav > li > a {
    color: #767676;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
}
.bs-docs-sidebar .nav > .active:focus > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active > a {
    background-color: transparent;
    border-left: 2px solid #f8a411;
    color: #f8a411;
    font-weight: 700;
    padding-left: 18px;
}
.affix {
    top:23px;
}

.scrollToTop{
    background: whiteSmoke none repeat scroll 0 0;
    bottom: 10px;
    color: #444;
    font-weight: bold;
    height: 39px;
    padding: 10px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    display:none;
}
.scrollToTop:hover{
    text-decoration:none;
    background-color:#e2e2e2;
}
.container img{max-width:100%; height: auto !important;}
.map_view {
    height: 400px;
    width: 100%;
}